# Created by https://www.toptal.com/developers/gitignore/api/scala
# Edit at https://www.toptal.com/developers/gitignore?templates=scala

### Scala ###
*.class
*.log
#src/main/resources/application.conf #in serious projects this file is ignored

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#vscode
.metals
.vscode
.history

# End of https://www.toptal.com/developers/gitignore/api/scala